In [27]:
import pandas as pd

In [28]:
df = pd.read_csv('California_Fire_Incidents.csv')
df.head()

,AcresBurned,Active,AdminUnit,AirTankers,ArchiveYear,CalFireIncident,CanonicalUrl,ConditionStatement,ControlStatement,Counties,...,SearchKeywords,Started,Status,StructuresDamaged,StructuresDestroyed,StructuresEvacuated,StructuresThreatened,UniqueId,Updated,WaterTenders
0,257314.0,False,Stanislaus National Forest/Yosemite National Park,NaN,2013,True,/incidents/2013/8/17/rim-fire/,NaN,NaN,Tuolumne,...,"Rim Fire, Stanislaus National Forest, Yosemite...",2013-08-17T15:25:00Z,Finalized,NaN,NaN,NaN,NaN,5fb18d4d-213f-4d83-a179-daaf11939e78,2013-09-06T18:30:00Z,NaN
1,30274.0,False,USFS Angeles National Forest/Los Angeles Count...,NaN,2013,True,/incidents/2013/5/30/powerhouse-fire/,NaN,NaN,Los Angeles,...,"Powerhouse Fire, May 2013, June 2013, Angeles ...",2013-05-30T15:28:00Z,Finalized,NaN,NaN,NaN,NaN,bf37805e-1cc2-4208-9972-753e47874c87,2013-06-08T18:30:00Z,NaN
2,27531.0,False,CAL FIRE Riverside Unit / San Bernardino Natio...,NaN,2013,True,/incidents/2013/7/15/mountain-fire/,NaN,NaN,Riverside,...,"Mountain Fire, July 2013, Highway 243, Highway...",2013-07-15T13:43:00Z,Finalized,NaN,NaN,NaN,NaN,a3149fec-4d48-427c-8b2c-59e8b79d59db,2013-07-30T18:00:00Z,NaN
3,27440.0,False,Tahoe National Forest,NaN,2013,False,/incidents/2013/8/10/american-fire/,NaN,NaN,Placer,...,"American Fire, August 2013, Deadwood Ridge, Fo...",2013-08-10T16:30:00Z,Finalized,NaN,NaN,NaN,NaN,8213f5c7-34fa-403b-a4bc-da2ace6e6625,2013-08-30T08:00:00Z,NaN
4,24251.0,False,Ventura County Fire/CAL FIRE,NaN,2013,True,/incidents/2013/5/2/springs-fire/,Acreage has been reduced based upon more accur...,NaN,Ventura,...,"Springs Fire, May 2013, Highway 101, Camarillo...",2013-05-02T07:01:00Z,Finalized,6.0,10.0,NaN,NaN,46731fb8-3350-4920-bdf7-910ac0eb715c,2013-05-11T06:30:00Z,11.0

In [29]:
df.shape

(1636, 40)

In [30]:
df['AcresBurned'].isna().sum()

3

# Fill missing numeric values
num_cols = ['AcresBurned', 'AirTankers', 'CrewsInvolved', 'Dozers', 'Engines', 'Fatalities',
            'Helicopters', 'Injuries', 'PersonnelInvolved', 'StructuresDamaged',
            'StructuresDestroyed', 'StructuresEvacuated', 'StructuresThreatened', 'WaterTenders']

In [31]:
# Drop irrelevant columns
drop_cols = ['CanonicalUrl', 'ConditionStatement', 'ControlStatement', 'SearchDescription',
             'SearchKeywords', 'UniqueId', 'Updated', 'Final', 'Public', 'Featured']
df.drop(columns=drop_cols, inplace=True, errors='ignore')

In [32]:
df.shape

(1636, 30)

In [33]:
def count_column(name):
    print("Column name:", name)
    return df[name].isna().sum()

In [34]:
# Fill missing numeric values
num_cols = ['AcresBurned', 'AirTankers', 'CrewsInvolved', 'Dozers', 'Engines', 'Fatalities',
            'Helicopters', 'Injuries', 'PersonnelInvolved', 'StructuresDamaged',
            'StructuresDestroyed', 'StructuresEvacuated', 'StructuresThreatened', 'WaterTenders']

In [35]:
for i in num_cols:
    c = count_column(i)
    print(c)

Column name: AcresBurned
3
Column name: AirTankers
1608
Column name: CrewsInvolved
1465
Column name: Dozers
1513
Column name: Engines
1445
Column name: Fatalities
1615
Column name: Helicopters
1552
Column name: Injuries
1516
Column name: PersonnelInvolved
1432
Column name: StructuresDamaged
1569
Column name: StructuresDestroyed
1461
Column name: StructuresEvacuated
1636
Column name: StructuresThreatened
1606
Column name: WaterTenders
1490

In [36]:
df['AcresBurned'].isna().sum()

3

In [37]:
df.dropna(subset=['AcresBurned'], inplace=True)

In [38]:
df['AcresBurned'].isna().sum()

0

In [39]:
num_cols = ['AirTankers', 'CrewsInvolved', 'Dozers', 'Engines', 'Fatalities',
            'Helicopters', 'Injuries', 'PersonnelInvolved', 'StructuresDamaged',
            'StructuresDestroyed', 'StructuresEvacuated', 'StructuresThreatened', 'WaterTenders']

df.drop(columns=num_cols, inplace=True, errors='ignore')

In [40]:
df.shape

(1633, 17)

In [41]:
df['AcresBurned'].describe()

count      1633.000000
mean       4589.443968
std       27266.337722
min           0.000000
25%          35.000000
50%         100.000000
75%         422.000000
max      410203.000000
Name: AcresBurned, dtype: float64

In [42]:
df.head()

,AcresBurned,Active,AdminUnit,ArchiveYear,CalFireIncident,Counties,CountyIds,Extinguished,FuelType,Latitude,Location,Longitude,MajorIncident,Name,PercentContained,Started,Status
0,257314.0,False,Stanislaus National Forest/Yosemite National Park,2013,True,Tuolumne,55,2013-09-06T18:30:00Z,NaN,37.857000,3 miles east of Groveland along Hwy 120,-120.086000,False,Rim Fire,100.0,2013-08-17T15:25:00Z,Finalized
1,30274.0,False,USFS Angeles National Forest/Los Angeles Count...,2013,True,Los Angeles,19,2013-06-08T18:30:00Z,NaN,34.585595,Angeles National Forest,-118.423176,False,Powerhouse Fire,100.0,2013-05-30T15:28:00Z,Finalized
2,27531.0,False,CAL FIRE Riverside Unit / San Bernardino Natio...,2013,True,Riverside,33,2013-07-30T18:00:00Z,NaN,33.709500,Hwy 243 & Hwy 74 near Mountain Center,-116.728850,False,Mountain Fire,100.0,2013-07-15T13:43:00Z,Finalized
3,27440.0,False,Tahoe National Forest,2013,False,Placer,31,2013-08-30T08:00:00Z,NaN,39.120000,"Deadwood Ridge, northeast of Foresthill",-120.650000,False,American Fire,100.0,2013-08-10T16:30:00Z,Finalized
4,24251.0,False,Ventura County Fire/CAL FIRE,2013,True,Ventura,56,2013-05-11T06:30:00Z,NaN,0.000000,Southbound Highway 101 at Camarillo Springs Ro...,0.000000,True,Springs Fire,100.0,2013-05-02T07:01:00Z,Finalized

In [49]:
df['Counties'].nunique()

59

In [50]:
df['CountyIds'].nunique()

79

In [51]:
df['CountyIds'].unique()

array(['55', '19', '33', '31', '56', '10', '47', '12', '52', '45', '37',
       '15,56', '49', '7', '4', '54', '42', '22', '33,', '27', '15', '9',
       '36', '32', '25', '40', '20', '14', '28', '35', '39', '17', '1',
       '11', '57', '9,34', '50', '48', '24', '23', '18', '3', '58', '29',
       '43', '5', '41', '30', '49,48,17,6', '28,17', '3,9', '53', ',40',
       '8', '17,28', '14,26', '26', '34', '2', '9,31', '51', '42,56',
       '28,49', '28,48', '16', '27,40', '46', '44', '6', '21',
       '6,11,17,23', '45,53', '19,56', '28,57', '6,17,23', '62', '61',
       '59', '62,37'], dtype=object)

In [52]:
df['Counties'].unique()

array(['Tuolumne', 'Los Angeles', 'Riverside', 'Placer', 'Ventura',
       'Fresno', 'Siskiyou', 'Humboldt', 'Tehama', 'Shasta', 'San Diego',
       'Kern', 'Sonoma', 'Contra Costa', 'Butte', 'Tulare',
       'Santa Barbara', 'Mariposa', 'Monterey', 'El Dorado',
       'San Bernardino', 'Plumas', 'Modoc', 'San Luis Obispo', 'Madera',
       'Inyo', 'Napa', 'San Benito', 'San Joaquin', 'Lake', 'Alameda',
       'Glenn', 'Yolo', 'Sacramento', 'Stanislaus', 'Solano', 'Merced',
       'Mendocino', 'Lassen', 'Amador', 'Yuba', 'Nevada', 'Santa Clara',
       'Calaveras', 'San Mateo', 'Orange', 'Colusa', 'Trinity',
       'Del Norte', 'Mono', 'Alpine', 'Sutter', 'Kings', 'Sierra',
       'Santa Cruz', 'Marin', 'Mexico', 'State of Oregon',
       'State of Nevada'], dtype=object)

In [53]:
df.head()

,AcresBurned,Active,AdminUnit,ArchiveYear,CalFireIncident,Counties,CountyIds,Extinguished,FuelType,Latitude,Location,Longitude,MajorIncident,Name,PercentContained,Started,Status
0,257314.0,False,Stanislaus National Forest/Yosemite National Park,2013,True,Tuolumne,55,2013-09-06T18:30:00Z,NaN,37.857000,3 miles east of Groveland along Hwy 120,-120.086000,False,Rim Fire,100.0,2013-08-17T15:25:00Z,Finalized
1,30274.0,False,USFS Angeles National Forest/Los Angeles Count...,2013,True,Los Angeles,19,2013-06-08T18:30:00Z,NaN,34.585595,Angeles National Forest,-118.423176,False,Powerhouse Fire,100.0,2013-05-30T15:28:00Z,Finalized
2,27531.0,False,CAL FIRE Riverside Unit / San Bernardino Natio...,2013,True,Riverside,33,2013-07-30T18:00:00Z,NaN,33.709500,Hwy 243 & Hwy 74 near Mountain Center,-116.728850,False,Mountain Fire,100.0,2013-07-15T13:43:00Z,Finalized
3,27440.0,False,Tahoe National Forest,2013,False,Placer,31,2013-08-30T08:00:00Z,NaN,39.120000,"Deadwood Ridge, northeast of Foresthill",-120.650000,False,American Fire,100.0,2013-08-10T16:30:00Z,Finalized
4,24251.0,False,Ventura County Fire/CAL FIRE,2013,True,Ventura,56,2013-05-11T06:30:00Z,NaN,0.000000,Southbound Highway 101 at Camarillo Springs Ro...,0.000000,True,Springs Fire,100.0,2013-05-02T07:01:00Z,Finalized

In [65]:
df.shape

(1633, 17)

In [64]:
df['PercentContained'].value_counts()

PercentContained
100.0    1633
Name: count, dtype: int64

In [62]:
df['Fu'].unique()

array([False])

In [66]:
c_drop = ['Active','AdminUnit','ArchiveYear','CountyIds','Extinguished','FuelType','Latitude','Location', 'Name',
          'Longitude','PercentContained','Started','Status']

df.drop(columns=c_drop, inplace=True, errors='ignore')

In [67]:
df.head()

   AcresBurned  CalFireIncident     Counties  MajorIncident
0     257314.0             True     Tuolumne          False
1      30274.0             True  Los Angeles          False
2      27531.0             True    Riverside          False
3      27440.0            False       Placer          False
4      24251.0             True      Ventura           True

In [68]:
df['AcresBurned'].describe()

count      1633.000000
mean       4589.443968
std       27266.337722
min           0.000000
25%          35.000000
50%         100.000000
75%         422.000000
max      410203.000000
Name: AcresBurned, dtype: float64

In [71]:
# define your function
def risk_label(acres):
    if acres <= 35:
        return 'Low'
    elif acres <= 422:
        return 'Medium'
    else:
        return 'High'

# apply it to create a new column
df['RiskCategory'] = df['AcresBurned'].apply(risk_label)

# quick check
print(df[['AcresBurned','RiskCategory']].head())

   AcresBurned RiskCategory
0     257314.0         High
1      30274.0         High
2      27531.0         High
3      27440.0         High
4      24251.0         High

In [73]:
df.sample(5)

,AcresBurned,CalFireIncident,Counties,MajorIncident,RiskLabel,RiskCategory
741,300.0,False,Riverside,False,Medium,Medium
787,130.0,True,Calaveras,True,Medium,Medium
485,341.0,True,Calaveras,False,Medium,Medium
463,1785.0,True,Kern,True,High,High
663,3874.0,True,Riverside,True,High,High

In [74]:
df.drop('AcresBurned', axis=1 , inplace=True)

In [75]:
df.head()

   CalFireIncident     Counties  MajorIncident RiskLabel RiskCategory
0             True     Tuolumne          False      High         High
1             True  Los Angeles          False      High         High
2             True    Riverside          False      High         High
3            False       Placer          False      High         High
4             True      Ventura           True      High         High

In [80]:
X = df.drop('RiskCategory', axis=1)
y = df['RiskCategory']

In [83]:
X_temp = pd.get_dummies(X)
X_temp

,CalFireIncident,MajorIncident,Counties_Alameda,Counties_Alpine,Counties_Amador,Counties_Butte,Counties_Calaveras,Counties_Colusa,Counties_Contra Costa,Counties_Del Norte,...,Counties_Tehama,Counties_Trinity,Counties_Tulare,Counties_Tuolumne,Counties_Ventura,Counties_Yolo,Counties_Yuba,RiskLabel_High,RiskLabel_Low,RiskLabel_Medium
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,True,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1628,True,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1629,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1630,True,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1631,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1632,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [85]:
from sklearn.preprocessing import LabelEncoder

# instantiate
le = LabelEncoder()

# fit + transform your column in one go
df['RiskCategory_Code'] = le.fit_transform(df['RiskCategory'])

# inspect the mapping
mapping = dict(zip(le.classes_, le.transform(le.classes_)))
print("Label mapping:", mapping)

# take a peek
print(df[['RiskCategory','RiskCategory_Code']].head())

Label mapping: {'High': 0, 'Low': 1, 'Medium': 2}
  RiskCategory  RiskCategory_Code
0         High                  0
1         High                  0
2         High                  0
3         High                  0
4         High                  0

In [87]:
df.sample(5)

,CalFireIncident,Counties,MajorIncident,RiskLabel,RiskCategory,RiskCategory_Code
27,False,Monterey,False,Medium,High,0
1333,False,Shasta,False,Low,Low,1
173,True,Yolo,True,High,High,0
507,False,Orange,False,Medium,Medium,2
330,True,Orange,False,Medium,Medium,2

In [88]:
y = df['RiskCategory_Code']

In [92]:
X_temp.head()

,CalFireIncident,MajorIncident,Counties_Alameda,Counties_Alpine,Counties_Amador,Counties_Butte,Counties_Calaveras,Counties_Colusa,Counties_Contra Costa,Counties_Del Norte,...,Counties_Tehama,Counties_Trinity,Counties_Tulare,Counties_Tuolumne,Counties_Ventura,Counties_Yolo,Counties_Yuba,RiskLabel_High,RiskLabel_Low,RiskLabel_Medium
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,True,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,True,False,False

In [91]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: RiskCategory_Code, dtype: int64

In [93]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_temp,y,test_size=0.2, random_state=42)

In [94]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()

rf.fit(X_train,y_train)

RandomForestClassifier()

In [95]:
rf.score(X_test,y_test)

0.6819571865443425

In [102]:
from sklearn.decomposition import PCA

pca = PCA(n_components=0.95)
X_pca = pca.fit_transform(X_temp)
X_pca

array([[ 0.29880182,  0.67135768,  0.12431039, ..., -0.0391271 ,
        -0.0032601 , -0.05103896],
       [ 0.31779341,  0.67918068,  0.20531467, ..., -0.01790382,
        -0.00734184, -0.05589466],
       [ 0.22481293,  0.62654685,  0.09531651, ...,  0.00185265,
         0.00864146, -0.03474917],
       ...,
       [-0.66996923, -0.13052857, -0.12070818, ..., -0.00851778,
        -0.0038689 , -0.0086263 ],
       [-0.73558773, -0.17484287, -0.09276212, ..., -0.00365219,
        -0.00439152, -0.00100697],
       [-0.67561611, -0.12777727, -0.06380831, ...,  0.59101284,
         0.69908361, -0.21207641]])

In [103]:
from sklearn.model_selection import train_test_split

X_train_pca, X_test_pca, y_train_pca, y_test_pca = train_test_split(X_pca,y,test_size=0.2,random_state=42)

In [104]:
rf_pca = RandomForestClassifier()

rf_pca.fit(X_train_pca, y_train_pca)

RandomForestClassifier()

In [105]:
rf_pca.score(X_test_pca,y_test_pca)

0.72782874617737

In [108]:
from sklearn.svm import SVC

svm = SVC()

svm.fit(X_train,y_train)
svm.score(X_test,y_test)

0.7125382262996942

In [109]:
svm_pca = SVC()

svm_pca.fit(X_train_pca,y_train_pca)
svm_pca.score(X_test_pca,y_test_pca)

0.7339449541284404

In [113]:
from xgboost import XGBClassifier

xgb = XGBClassifier(n_estimators=100, learning_rate=0.1, max_depth=4)

xgb.fit(X_train,y_train)
xgb.score(X_test,y_test)

0.72782874617737

In [122]:
xgb_pca = XGBClassifier(n_estimators=300, learning_rate=0.01, max_depth=4)

xgb_pca.fit(X_train_pca,y_train_pca)
xgb_pca.score(X_test_pca,y_test_pca)

0.7553516819571865